* {
    outline: none !important;
}
html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #8d9498;
}
h1, h2, h3, h4, h5, h6 {
    color: #333b3f !important;
}
abbr {
    color: #e74a25;
}
.text-dark {
    color: #333b3f !important;
}
.main {
    min-height: 100%;
    background-color: #f4f8f9;
}
.main-right {
    margin-left: 265px;
}
.main-login {
    background: url(../images/login.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.main .container-fluid {
    padding: 30px;
}
.heading-title {
    display: inline-block;
    margin: 0 0 15px;
    padding: 0 0 15px;
    line-height: 30px;
}
.sidebar {
    position: absolute;
    width: 265px;
    min-height: 100%;
    top: 0;
    background: #34495e;
    overflow-y: auto;
    z-index: 9;
}
.sidebar-left {
    left: 0;
}
.sidebar-nav .menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav .menu li a {
    display: block;
    position: relative;
    padding: 10px 30px;
    color: #8f99a5;
    background-color: transparent;
}
.sidebar-nav .menu li.active a,
.sidebar-nav .menu li a:hover,
.sidebar-nav .menu li a:focus {
    color: #fff;
    background-color: #2d3e50;
}
.sidebar-nav .menu li a .caret {
    display: block;
    position: absolute;
    top: 22px;
    right: 30px;
}
.sidebar-nav .menu li a .la {
    position: relative;
    top: 2px;
    margin-right: 10px;
    font-size: 22px;
    color: #577086;
}
.sidebar-nav .menu li.active a .la,
.sidebar-nav .menu li a:hover .la,
.sidebar-nav .menu li a:focus .la {
    color: #acb7ca;
}
.sidebar-nav .menu.sub-menu li a {
    padding: 10px 30px 10px 66px;
}
.sidebar-nav .menu li.active .menu.sub-menu li a {
    color: #8f99a5;
}
.sidebar-nav .menu li.active .menu.sub-menu li.active a,
.sidebar-nav .menu li.active .menu.sub-menu li a:hover,
.sidebar-nav .menu li.active .menu.sub-menu li a:focus {
    color: #fff;
}
.user-profile {
    padding: 15px 0;
    position: relative;
    text-align: center;
}
.user-avatar {
    margin-top: 20px;
}
.user-avatar img {
    border-radius: 999px;
}
.user-info {
    margin: 15px 0;
    font-weight: 700;
}
.user-info .btn-group.open .dropdown-toggle {
    box-shadow: none !important;
}
.form-info {
    font-size: 15px;
}
.table-info {
    display: inline-block;
    margin-top: 7px;
    font-size: 15px;
    color: #333b3f !important;
}